.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: red;
}

#wrapper{
    width: 100%;
    height: 581px;
    /* background-color: bisque; */
}
/* .container{
    display: flex;
    justify-content: center;
    background-color: blue;
} */
div .btn{
    height: 50px;
    width: 150px;
    font-size: 1.5rem;
    padding: 10px;
    color: red;
    background-color: aquamarine;
    margin-left: 250px;
    margin-top: 250px;
}